@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;

}

:root{
    /*Primary*/
  --color-primary-100: #DBF6F7;
  --color-primary-200: #B9E9EF;
  --color-primary-300: #8AC4D0;
  --color-primary-400: #5D91A2;
  --color-primary-500: #2C5364;
  --color-primary-600: #204256;
  --color-primary-700: #163248;
  --color-primary-800: #0E233A;
  --color-primary-900: #081930;
    /*Success*/
  --color-success-100: #E2FAD5;
  --color-success-200: #C0F5AE;
  --color-success-300: #91E27F;
  --color-success-400: #63C55A;
  --color-success-500: #2CA02C;
  --color-success-600: #208929;
  --color-success-700: #167326;
  --color-success-800: #0E5C22;
  --color-success-900: #084C20;
    /*Info*/
  --color-info-100: #C9FBF5;
  --color-info-200: #94F7F3;
  --color-info-300: #5DE3E8;
  --color-info-400: #34C0D2;
  --color-info-500: #0093B5;
  --color-info-600: #00729B;
  --color-info-700: #005682;
  --color-info-800: #003D68;
  --color-info-900: #002C56;
    /*Warning*/
  --color-warning-100: #FFF5CE;
  --color-warning-200: #FFE99E;
  --color-warning-300: #FFDA6D;
  --color-warning-400: #FFCB49;
  --color-warning-500: #FFB20D;
  --color-warning-600: #DB9109;
  --color-warning-700: #B77306;
  --color-warning-800: #935804;
  --color-warning-900: #7A4402;
    /*Danger*/
  --color-danger-100: #FBE3CB;
  --color-danger-200: #F8C299;
  --color-danger-300: #EC9465;
  --color-danger-400: #D9683E;
  --color-danger-500: #c12e09;
  --color-danger-600: #A51A06;
  --color-danger-700: #8A0B04;
  --color-danger-800: #6F0205;
  --color-danger-900: #5C010A;
}


body{
    /*modd claro*/
    background: #0F2027;
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    /* obscuro
    background: #141E30;
    background: -webkit-linear-gradient(to top, #243B55, #141E30);
    background: linear-gradient(to top, #243B55, #141E30);
    */

}

.container_nav{
    position: relative;
    float: right;
    width: 60%;
    height: 70px;
    z-index: 100;
    
}


.container_nav #ul_nav{
    position: relative;
    justify-content: center;
    text-align: center;
    list-style-type: none;
}

.container_nav #ul_nav #li_nav {
    
    text-align: center;
    display: inline-block;
    padding: 5px 20px 0 20px;
    line-height: 60px; 
}

#ul_nav #li_nav a{
    font-style: none;
    text-decoration: none;
    transition: all;
    color: var(--color-info-100);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.02em;
    
}


.container_nav #ul_nav #li_nav a:hover{
    border-bottom-style: solid;
    border-bottom-color: var(--color-warning-500);
    border-bottom-width: 3px;
    color: var(--color-warning-600);
}

/*
.social {
    position: relative;
    top: 10px;
    float: right;

}

.social i{
    padding: 0px;
    right: 20px;
    padding: 0 10px 0 10px;
    
}
*/
/*main*/
.container_user{
    position: relative;
    width: 100%;
    height: 700px;
    right: 0;
}

.container_user .container_photo{
    width: 60%; 
    height: 700px;
    float: right;
    
}

.container_user .container_photo img{
    position: absolute;
    right: 5%;
    width: 90%;
    height: 700px;
    top: 100px;
    border-radius: 8px;
    filter: brightness(35%)
}

.container_user #portafolio{
    color: var(--color-warning-500);
    width: 40%;
    text-transform: uppercase;
    font-size: 30px ;
    letter-spacing: 0.05em;
    line-height: 70px;
    text-align: center;
    font-weight: bold ;
}


.content_userinfo{
    position: absolute;
    top: 400px;
    left: 10%;
    }

.content_userinfo #subtitle{
    color: var(--color-info-100);
    width: 100%;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 30px;
    
   
}

.content_userinfo #title{
    color: var(--color-warning-500);
    width: 100%;
    font-size: 65px;
    line-height: 70px;

    
}

.content_userinfo #text{
    color: var(--color-info-100);
    width: 100%;
    font-size: 45px;
    padding-top: 20px;
}


/*info_user*/
.Container_aboutMe{
    width: 100%;
    height: 700px;
    position: relative;

}

.container_all{
    position: relative;
    top: 100px;
    justify-content: center;
    width: 100%;
    height: 600px;
}


.container_all .img_me{
    position: relative;
    width: 35%;
    height: 350px;
    top: 100px;
    color: var(--color-info-100);
    float: left; 
    text-align: right;
    
}

.img_me #border{
    position: absolute;
    width: 300px;
    height: 400px;
    border: 10px solid var(--color-warning-500);
    right: 0;

}


.container_all .img_me img{
    position: relative;
    width: 300px;
    height: 400px;
    left: 30px;
    top: -30px;
    border: 5px solid var(--color-primary-700);
    background-position: center;
}


.container_all #title{
    position: relative;
    left: 5%;
    top: 50px;
    float: left;
    color: var(--color-info-100);
    width: 45%;
    font-size: 40px;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-color: var(--color-warning-500);
}

.container_all #text{
    position: relative;
    left: 5%;
    top: 70px;
    float: left;
    color: var(--color-primary-100);
    width: 45%;
    height: 400px;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    
}

.container_all .button{
    position: relative;
    top: 20px;
    width: 30%;
    height: 50px;
    font-size: 20px;
    color: var(--color-warning-500);
    border: 3px solid var(--color-warning-500);
    background-color: var(--color-primary-500);
}

.container_all .active{
    color: var(--color-primary-100);
    background-color:var(--color-warning-500);
}


.container_all .button2:hover{
    color: var(--color-primary-100);
    background-color:var(--color-warning-500);
}

.container_all .button1:hover{
    color:var(--color-warning-500);
    background-color: var(--color-primary-500);
}


/*habilidades*/
.container_skill{
  width: 100%;
  height: auto;
  padding: 10px 0 10px 0;
  position: relative;
}

.container_skill .container_box{
  position: relative;
  left: 10%;
  width: 80%;
  top: 30px;
}

.container_box #title{
  text-align: left;
  height: 50px;
  color: var(--color-primary-100);
  font-size: 40px;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-color: var(--color-warning-500);
}

.container_box #sub_title{
  position: relative;
  top: 30px;
  text-align: center;
  height: 50px;
  color: var(--color-primary-100);;
  font-size: 30px;
  text-transform: capitalize;
}

.container_box .card{
  position: relative;
  position: flex;
  flex-wrap: wrap;
  top: 20px;
  margin: 0;
  text-align: center;
  width: 100%;

}

.container_box .card i{
  position: relative;
  width: 200px;
  height: 150px;
  margin: 20px 10px 20px 10px;
}

.container_box .card i p{
  position: absolute;
  font-size: 30px;
  color: #CCCCCC;
  width: 100%;
  text-transform: uppercase;
}

.container_box .card i p:hover{
    color: rgba(255, 178, 13, 0.911);
}


.container_box .card i:hover{
  color: #CCCCCC;
}

/*icons-frontend*/
.fa-html5, .fa-js, .fa-css3-alt, .fa-php, .fa-bootstrap{
  font-size: 100px;
  color: rgba(255, 178, 13, 0.911);
}

/*icons-backend*/
.fa-php, .fa-java, .fa-python{
  font-size: 100px;
  color: rgba(255, 178, 13, 0.911);
}

/*icons-database*/
.fa-database{
  font-size: 80px;
  color: rgba(255, 178, 13, 0.911);
}

/*footer*/
.container_contact{
    position: relative;
    background-color: #333;
    width: 100%;
    height: 770px;
}

.container_contact #title{
    position: relative;
    left: 10%;
    top: 50px;
    float: left;
    color: white;
    width: 80%;
    font-size: 40px;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 178, 13, 0.911);
    text-transform: capitalize;
}

.container_contact .contact_info{
    position: relative;
    top: 150px;
    width: 40%;
    height: 500px;
    
}
.container_contact .contact_info #info{
    position: relative;
    color: #CCCCCC;
    top: 50px;
    left: 10%;
}

.container_contact .contact_info #items_info{
    position: relative;
    top: 50px;
    left: 10%;
    line-height: 3;
    color: #727b86;
    list-style-type: none;

}

.contact_info #items_info .icon{
    margin: 10px;
}


/*icons contact*/
.fa-map-marker-alt, .fa-envelope, .fa-phone-alt{
    font-size: 15px;
    color: #727b86;
}
/*social networks*/
.fa-facebook-f, .fa-github, .fa-linkedin-in{
    font-size: 20px;
    color: #727b86;
}

.contact_info #items_follow i{
    position: relative;
    top: 60px;
    left: 10%;
    margin: 5px;
}

/*servicios*/

.services{
  width: 100%;
  height: 500px;
  position: relative;
  padding: 10px 0 10px 0;
  background-color: black;
}

.container_box_card{
    display: flex;
    flex-wrap: wrap;
    height: 480px;
    padding: 10px;
    
}

.container_box_card .box_card{
    width: 49%;
    height: 230px;
    background-color: blue;
    text-align: center;
    margin: 3px;
    border: 2px solid red;
}